
/* 캘린더 크기 */
.CalendarApp {
  width: 700px;
  height:655px;
  background-color: white;
  position: relative;
  justify-content: center;
  border-radius: 10px;
}

@media screen and (min-width: 375px) and (max-width: 1023px)  {
  .CalendarApp {
    width: 100%;
    height: 115%;
    background-color: white;
    top: 60px;
  }
 }


/* 캘린더 상단 여백 */
.fc .fc-toolbar.fc-header-toolbar {
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.fc-theme-standard .fc-scrollgrid {
  position: relative;
  width: 95%;
  margin-left: 15px;
  background-color: white;
}


 @media screen and (min-width: 375px) and (max-width: 1023px)  {
  .fc-theme-standard .fc-scrollgrid {
  background-color: white;
  width: 90%;
  height: 60px;
  font-size: 13px;
  margin-left: 25px;
  }
 }

/* 월 타이틀 폰트/위치 조정 */
.fc .fc-toolbar-title {
  width: 230px;
  height: 30px;
  display: flex;
  padding-left: 40px;
  position: relative;
  text-align: center;
  align-items: center;
  font-size: 25px;
  left: 250px;
}

@media screen and (min-width: 375px) and (max-width: 1023px)  {
  .fc .fc-toolbar-title {
    left: 150px;
  }
}

.fc-button-group{
 position: relative;
 display: flex;
 gap: 320%;
 right: 430px;
}

@media screen and (min-width: 375px) and (max-width: 1023px)  {
  .fc-button-group {
  right: 320%;
  gap: 250%;
  }
 }

 @media screen and (min-width: 1024px) and (max-width: 1279px)  {
  .fc-button-group {
    right: 390%;
    gap: 250%;
  }
 }

@media screen and (min-width: 1280px) and (max-width: 1440px)  {
  .fc-button-group {
    right: 420%;
  }
 }

.fc-prev-button.fc-button.fc-button-primary {
  display: flex;
  background-color: white;
  border: 0;
  outline: 0;
}

.fc-prev-button.fc-button.fc-button-primary:active{
  background-color: white;
}


.fc-next-button.fc-button.fc-button-primary{
  display: flex;
  background-color: white;
  border: 0;
  outline: 0;
}
.fc-next-button.fc-button.fc-button-primary:active{
  background-color: white;
}

.fc-icon.fc-icon-chevron-left{
  color: #0e0d0d;
}
                        
.fc-icon.fc-icon-chevron-right{
  color: #070000;
}

.fc-today-button.fc-button.fc-button-primary{
  background-color: rgb(255, 239, 200);
  position: absolute;
  color: rgb(8, 8, 8);
  border: 0;
  outline: 0;
}

/* 버튼박스 레이아웃 */
.btnWrap {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
  justify-content: space-between;
}

.iconBox {
  width: 130px;
  height: 60px;
  border-radius: 30px;
}

.btnText {
  font-size: 18px;
}  

/* 날짜 폰트 */
.fc .fc-daygrid-day-number {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
}

.react-datepicker__day-name{
  color: red;
}

/* 일요일 날짜 빨간색 */
.fc-day-sun {
  color: red;
}

/* 토요일 날짜 파란색 */
.fc-day-sat {
  color: blue;
}

/* 요일 행 */
.fc .fc-scrollgrid-section table {
  height: 50px;
}

.fc-col-header {
  border-bottom: 1.5px solid rgb(0, 0, 0);
}

.fc .fc-scrollgrid-section-header > *, .fc .fc-scrollgrid-section-footer > * {
  padding-bottom: 20px;
}

.fc th, .fc td {
  vertical-align: middle;
}


/* border값 초기화 */
.fc-theme-standard th, .fc-theme-standard td {
  border: 0px;
}

.fc-theme-standard .fc-scrollgrid {
  border: 0px;
}

/* daygrid 높이 */
.fc .fc-daygrid-day-frame {
  height: 85px;
  overflow: hidden;
  margin: auto;
}

/* daygrid flex 초기화*/
.fc .fc-daygrid-day-top {
  display: block;
}

/* scrollbar 초기화 */
.fc .fc-scroller-liquid-absolute {
  position: relative;
}

.fc-daygrid-dot-event:hover,
  .fc-daygrid-dot-event.fc-event-mirror{
    background: none;
  }

.fc-daygrid-event-dot {
  display: flex;
  position: relative;
  height: max-content;
  border-width: 8px;
  border-radius: 50px;
  left: 30px;
}

div > .fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
 height: max-content;
 display: flex;
 position: relative;
 overflow: hidden;
} 
.fc-event-time{
  display: none;
}

.fc-event-title{
  display: none;
}